{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    {{ post.author }}, {{ post.pub_date }}
  </p>
  {% for image in post.attachments.images %}
    <div class="image clearfix">
      <img style="float: left; margin: 0 10px 10px 0;" src="{{ image.thumbnail(300)|url }}">
    </div>
  {% endfor %}
  {{ post.body }}
  </div>
{% endmacro %}
